body {
    flex-direction: row; 
    background: url("../Images/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 95vh;
}

canvas {
    border: 5px solid black;
}